<div class="container">

  <!--<app-cockpit [serverElements]="serverElements" (serverCreated)=""> </app-cockpit>-->
  <app-cockpit (serverCreated)="onServerElementAdded($event)" (serverBlueprintCreated)="onServerElementAdded($event)"> </app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12" >

      <button
        class="btn btn-primary"
        (click)="onNameChange()">Change name of first element</button>
      <button
        class="btn btn-danger"
        (click)="onDestroyFistElement()">Destroy first element</button>

      <app-server-element *ngFor="let serverElement of serverElements" [name]="serverElement.serverName">

        <p #contentParagraph>
          <strong *ngIf="serverElement.serverType === 'server'" style="color: red">{{ serverElement.serverContent }}</strong>
          <em *ngIf="serverElement.serverType === 'blueprint'">{{ serverElement.serverContent }}</em>
        </p>


      </app-server-element>
    </div>
  </div>
</div>
