<div>
  <!--
  <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" width="1920px" height="1080px" viewBox="0 0 1920 1080" version="1.1"
    id="svg8">
    <defs id="defs2" />
    <metadata id="metadata5">
    </metadata>
    <text x="50%" y="50%" id="speed" text-anchor="middle" alignment-baseline="middle" style="font-size: 600px;">{{kmh}}</text>
  </svg>
-->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   id="svg8"
   version="1.1"
   viewBox="0 0 79.374999 79.374999"
   height="500px"
   width="500px"
   inkscape:version="0.92.3 (2405546, 2018-03-11)"
   sodipodi:docname="gauge.svg">

  <g
     inkscape:label="Ebene 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-217.625)" />
  <path
     id="path2329"
     sodipodi:type="arc"
     sodipodi:start="2.0943951"
     sodipodi:ry="27.78125"
     sodipodi:rx="27.78125"
     sodipodi:open="true"
     sodipodi:end="1.0471976"
     sodipodi:cy="39.823158"
     sodipodi:cx="39.823158"
     style="fill:none;stroke:#000000;stroke-width:1"
     d="M 25.932533,63.882427 A 27.78125,27.78125 0 0 1 12.988531,32.632841 27.78125,27.78125 0 0 1 39.823159,12.041908 27.78125,27.78125 0 0 1 66.657785,32.632843 27.78125,27.78125 0 0 1 53.713782,63.882427" />
  <circle
     id="path2331"
     style="fill:none;stroke:#000000;stroke-width:1"
     cx="39.823158"
     cy="39.823158"
     r="38.364582" />
  <path
     id="path2333"
     inkscape:label="none"
     style="fill:none;stroke:#000000;stroke-width:1"
     d="m 27.255451,61.591069 -1.322916,2.291359"
     inkscape:connector-curvature="0" />
  <text
     id="text2335"
     style="font-size:2.64583325px;text-align:center;text-anchor:middle"
     y="59.733887"
     x="29.10754">0</text>
  <path
     id="path2337"
     inkscape:label="none"
     style="fill:none;stroke:#000000;stroke-width:1"
     d="M 21.114293,58.532027 20.178849,59.46747"
     inkscape:connector-curvature="0" />
  <path
     id="path2339"
     inkscape:label="none"
     style="fill:none;stroke:#000000;stroke-width:1"
     d="m 18.05525,52.390868 -2.291359,1.322917"
     inkscape:connector-curvature="0" />
  <text
     id="text2341"
     style="font-size:2.64583325px;text-align:center;text-anchor:middle"
     y="51.861694"
     x="21.235338">20</text>
  <path
     id="path2343"
     inkscape:label="none"
     style="fill:none;stroke:#000000;stroke-width:1"
     d="m 14.266372,46.67108 -1.277839,0.342396"
     inkscape:connector-curvature="0" />
  <path
     id="path2345"
     inkscape:label="none"
     style="fill:none;stroke:#000000;stroke-width:1"
     d="M 14.687743,39.82316 H 12.04191"
     inkscape:connector-curvature="0" />
  <text
     id="text2347"
     style="font-size:2.64583325px;text-align:center;text-anchor:middle"
     y="40.616909"
     x="18.391905">40</text>
  <path
     id="path2349"
     inkscape:label="none"
     style="fill:none;stroke:#000000;stroke-width:1"
     d="M 14.266372,32.975239 12.988533,32.632843"
     inkscape:connector-curvature="0" />
  <path
     id="path2351"
     inkscape:label="none"
     style="fill:none;stroke:#000000;stroke-width:1"
     d="M 18.05525,27.255451 15.763891,25.932535"
     inkscape:connector-curvature="0" />
  <text
     id="text2353"
     style="font-size:2.64583325px;text-align:center;text-anchor:middle"
     y="29.372122"
     x="21.235338">60</text>
  <path
     id="path2355"
     inkscape:label="none"
     style="fill:none;stroke:#000000;stroke-width:1"
     d="M 21.114293,21.114293 20.178849,20.178849"
     inkscape:connector-curvature="0" />
  <path
     id="path2357"
     inkscape:label="none"
     style="fill:none;stroke:#000000;stroke-width:1"
     d="M 27.255451,18.05525 25.932535,15.763891"
     inkscape:connector-curvature="0" />
  <text
     id="text2359"
     style="font-size:2.64583325px;text-align:center;text-anchor:middle"
     y="21.499926"
     x="28.578373">80</text>
  <path
     id="path2361"
     inkscape:label="none"
     style="fill:none;stroke:#000000;stroke-width:1"
     d="M 32.975239,14.266372 32.632843,12.988533"
     inkscape:connector-curvature="0" />
  <path
     id="path2363"
     inkscape:label="none"
     style="fill:none;stroke:#000000;stroke-width:1"
     d="M 39.82316,14.687743 V 12.04191"
     inkscape:connector-curvature="0" />
  <text
     id="text2365"
     style="font-size:2.64583325px;text-align:center;text-anchor:middle"
     y="19.185656"
     x="39.823158">100</text>
  <path
     id="path2367"
     inkscape:label="none"
     style="fill:none;stroke:#000000;stroke-width:1"
     d="m 46.67108,14.266372 0.342396,-1.277839"
     inkscape:connector-curvature="0" />
  <path
     id="path2369"
     inkscape:label="none"
     style="fill:none;stroke:#000000;stroke-width:1"
     d="m 52.390868,18.05525 1.322917,-2.291359"
     inkscape:connector-curvature="0" />
  <text
     id="text2371"
     style="font-size:2.64583325px;text-align:center;text-anchor:middle"
     y="21.499926"
     x="50.009613">120</text>
  <path
     id="path2373"
     inkscape:label="none"
     style="fill:none;stroke:#000000;stroke-width:1"
     d="M 58.532027,21.114293 59.46747,20.178849"
     inkscape:connector-curvature="0" />
  <path
     id="path2375"
     inkscape:label="none"
     style="fill:none;stroke:#000000;stroke-width:1"
     d="m 61.591069,27.255451 2.291359,-1.322916"
     inkscape:connector-curvature="0" />
  <text
     id="text2377"
     style="font-size:2.64583325px;text-align:center;text-anchor:middle"
     y="29.372122"
     x="57.881805">140</text>
  <path
     id="path2379"
     inkscape:label="none"
     style="fill:none;stroke:#000000;stroke-width:1"
     d="m 65.379947,32.975239 1.277839,-0.342396"
     inkscape:connector-curvature="0" />
  <path
     id="path2381"
     inkscape:label="none"
     style="fill:none;stroke:#000000;stroke-width:1"
     d="M 64.958576,39.82316 H 67.60441"
     inkscape:connector-curvature="0" />
  <text
     id="text2383"
     style="font-size:2.64583325px;text-align:center;text-anchor:middle"
     y="40.616909"
     x="60.725235">160</text>
  <path
     id="path2385"
     inkscape:label="none"
     style="fill:none;stroke:#000000;stroke-width:1"
     d="m 65.379947,46.67108 1.277839,0.342396"
     inkscape:connector-curvature="0" />
  <path
     id="path2387"
     inkscape:label="none"
     style="fill:none;stroke:#000000;stroke-width:1"
     d="m 61.591069,52.390868 2.291359,1.322917"
     inkscape:connector-curvature="0" />
  <text
     id="text2389"
     style="font-size:2.64583325px;text-align:center;text-anchor:middle"
     y="52.390862"
     x="57.881805">180</text>
  <path
     id="path2391"
     inkscape:label="none"
     style="fill:none;stroke:#000000;stroke-width:1"
     d="M 58.532027,58.532027 59.46747,59.46747"
     inkscape:connector-curvature="0" />
  <path
     id="path2393"
     inkscape:label="none"
     style="fill:none;stroke:#000000;stroke-width:1"
     d="m 52.390868,61.591069 1.322917,2.291359"
     inkscape:connector-curvature="0" />
  <text
     id="text2395"
     style="font-size:2.64583325px;text-align:center;text-anchor:middle"
     y="60.263054"
     x="50.009613">200</text>
  <path
     style="fill:#b3b3b3;stroke-width:0.07542938"
     id="path6163"
     sodipodi:type="arc"
     sodipodi:cy="39.874409"
     sodipodi:rx="5.5933528"
     sodipodi:ry="5.41856"
     sodipodi:start="0.24893002"
     sodipodi:end="0.24730454"
     d="m 45.273573,41.209364 a 5.5933528,5.41856 0 0 1 -6.796761,3.917128 5.5933528,5.41856 0 0 1 -4.04625,-6.58277 5.5933528,5.41856 0 0 1 6.793473,-3.922478 5.5933528,5.41856 0 0 1 4.051771,6.579582"
     sodipodi:open="true"
     sodipodi:cx="39.852627" />

     <text x="50%" y="90%" id="speed" text-anchor="middle" alignment-baseline="middle" style="font-size: 12px;">{{kmh}}</text>

</svg>

</div>
